<div>
    <ul>
        <li><a href="/message/<%= message.id %>"><%= message.id %></a></li>
        <li><%= message.member %> said: <%= message.text %></li>
        <li>at <%= message.added %></li>
        <li>
            <a href="/delete/<%= message.id %>">
                <button type="button">Delete</button>
            </a>
        </li>
    </ul>
</div>
